

<% layout("layouts/boilerplate") %>

<body>

  <div class="container mt-5 offset-2">
    <div class="card shadow-sm p-4" style="max-width: 600px;">
      <h2 class="mb-4">Edit Listing</h2>

      <form action="/listings/<%= listing._id %>?_method=PUT" method="POST" novalidate class="needs-validation" enctype="multipart/form-data">

        <div class="mb-3 mt-3">
          <label for="title">Title:</label>
          <input
            name="listing[title]"
            type="text"
            required
            class="form-control"
            value="<%= listing.title %>"
          >
          <div class="invalid-feedback">Please enter a valid title.</div><br><br>
        </div>

        <div class="mb-3">
          <label for="description">Description:</label>
          <textarea
            name="listing[description]"
            class="form-control"
            rows="4"
            required
          ><%= listing.description %></textarea>
          <div class="invalid-feedback">Please enter a description.</div><br><br>
        </div>
        <div class="preview_img">
        Original Listing Image:<br>
          <img src="<%= original_url%>">
        </div>
        <br>
        <div class="mb-3">
          <label for="img">Upload New Image:</label>
          <input 
            name="listing[img]"
            type="file"
            class="form-control"
            value="<%= (listing.img && (typeof listing.img === 'string' ? listing.img : listing.img.url)) || '' %>"
          >
          <div class="invalid-feedback">Please enter a valid file.</div><br><br>
        </div>

        <div class="mb-3">
          <label for="price">Price:</label>
          <input required
            name="listing[price]"
            type="number"
            class="form-control"
            value="<%= listing.price %>"
          >
          <div class="invalid-feedback">Please enter a valid price.</div><br><br>
        </div>
        <div class="mb-3">
          <label for="location">Location:</label>
          <input required
            name="listing[location]"
            type="text"
            class="form-control"
            value="<%= listing.location %>"
          >
          <div class="invalid-feedback">Please enter a valid location.</div><br><br>
        </div>
        <div class="mb-3">
          <label for="category" class="form-label">Category</label>
        
          <select name="listing[category]" class="form-select"  required>
        
            <option value="Trending" <%= listing.category === "Trending" ? "selected" : "" %>>Trending</option>
        
            <option value="Rooms" <%= listing.category === "Rooms" ? "selected" : "" %>>Rooms</option>
        
            <option value="Iconic Cities" <%= listing.category === "Iconic Cities" ? "selected" : "" %>>Iconic Cities</option>
        
            <option value="Hills" <%= listing.category === "Hills" ? "selected" : "" %>>Hills</option>
        
            <option value="Coastal" <%= listing.category === "Coastal" ? "selected" : "" %>>Coastal</option>
        
            <option value="Camping" <%= listing.category === "Camping" ? "selected" : "" %>>Camping</option>
        
            <option value="Snow" <%= listing.category === "Snow" ? "selected" : "" %>>Snow</option>
        
          </select>
        </div>
        <div class="mb-3">
          <label for="country">Country:</label>
          <input required
            name="listing[country]"
            type="text"
            class="form-control"
            value="<%= listing.country %>"
          >
          <div class="invalid-feedback">Please enter a valid country.</div><br><br>
        </div>

        <button type="submit" class="btn btn-dark">
          Update Listing
        </button>

      </form>
    </div>
  </div>

</body>

